<form action="{{=controller}}/login" method="post" class="container p-3 my-3 text-white-dark bg-purple rounded shadow-sm ">
    <h1 class="mb-1 text-center">{{=t('user.Sign in')}}</h1>

    <div class="form-group">
        <label for="user_login">Email</label>
        <input type="text" name="email" class="form-control">
    </div>
    <div class="form-group">
        <label for="user_pass">{{=t('user.Password')}}</label>
        <a class="form-sublink" href="/user/lostPassword">{{=t('user.Forgot password?')}}</a>
        <input type="password" name="password" class="form-control">
    </div>

    <p class="login-remember">
        <label>
            <input name="rememberme" type="checkbox" id="rememberme" value="forever">{{=t('user.Remember Me')}}
        </label>
    </p>
    <div class="form-group">
        <input 
            type="submit" 
            name="submit" 
            class="btn btn-primary btn-block mb-4 w-100"
            value="{{=t('login')}}">
    </div>


    <p class="small text-center text-gray-soft">{{=t('user.Don\'t have an account yet?')}} <a href="/user/register">{{=t('user.Sign up')}}</a></p>
    <div class="small text-center text-gray-soft">- {{=t('user.OR')}}  -</div>
    <div id="buttonDiv"></div>
</form>

<script src="https://accounts.google.com/gsi/client" async defer></script>
<script src="/js/jwt-decode.js"></script>
<script>
    function handleCredentialResponse(response) {
        //alert('callback')
        ///console.log("Encoded JWT ID token: " + response.credential);
        token = jwt_decode(response.credential)
        //console.log(token);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/user/loginProvider');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function () {
            if (xhr.responseText == 'success') {
                location.assign('/user/profile')
            } else {
                console.log(xhr.responseText)
                location.assign(xhr.responseText)
            }
        };
        xhr.send(JSON.stringify({ token: token }));
    }
    window.onload = function () {
        google.accounts.id.initialize({
            client_id: "563587575029-89224il8qt9bc2i5d3f15fucn6nutv0t.apps.googleusercontent.com",
            callback: handleCredentialResponse
        });
        google.accounts.id.renderButton(
            document.getElementById("buttonDiv"),
            { theme: "outline", size: "large" }  // customization attributes
        );
        google.accounts.id.prompt(); // also display the One Tap dialog
    }
</script>
