<form action="{{=controller}}/lostPassword" method="post"
    class="container p-3 my-3 text-white-dark bg-purple rounded shadow-sm ">
    <div class="container container--mini">
        <h1 class="mb-1 text-center">{{=t('user.Forgot your password?')}}</h1>
        <p class="fs-14 text-gray text-center">
            {{=t('user.Enter your email and we\'ll send you a reset link')}}.</p>
        <div class="woocommerce">

            <div class="form-group mb-4">
                <label for="user_login">Email</label>
                <input class="form-control woocommerce-Input woocommerce-Input--text input-text" 
                    type="text"
                    name="email" id="user_login">
            </div>

            <div class="clear"></div>

            <p class="woocommerce-form-row form-row">
                <button class="btn btn-primary btn-block mb-4 w-100" type="submit">
                    {{=t('user.Send password reset')}}
                </button>
            </p>

            <p class="small text-center text-gray-soft">
                {{=t('user.Remember your password ?')}} 
                <a href="/user/login">{{=t('user.Sign in')}}</a>
            </p>

        </div>

    </div>
</form>